@for (poll of (polls | async); track poll) {
<nz-card [routerLink]="'/polls/' + poll.id">
  <nz-card-meta
    [nzTitle]="poll.question"
    [nzDescription]="`by ${poll.createdBy.username} • ${getRelativeTime(poll.createdAt)}`"
  ></nz-card-meta>
  <div class="card-body">
    <nz-space nzDirection="vertical" nzSize="small">
      @for (option of poll.options; track option) {
      <nz-card nzType="inner" nzSize="small" *nzSpaceItem>
        <span nz-radio>{{ option.optionText }}</span>
      </nz-card>
      }
    </nz-space>
  </div>
</nz-card>
}
