:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nz-card {
  cursor: pointer;
}

div.card-body {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

nz-card[nzType="inner"]:hover {
  background: #fafafa;
}

span[nz-radio] {
  pointer-events: none;
}
