<div>
  <form nz-form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-control nzErrorTip="이메일을 입력하세요.">
        <nz-input-group nzPrefixIcon="mail">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control
        nzErrorTip="
        비밀번호는 8~20자 사이의 영문자, 숫자, 특수문자({{'[!@#$%^&*]'}})를
        포함해야 합니다."
      >
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzType="primary" type="submit">로그인</button>
  </form>
  <button nz-button nzType="link" routerLink="/register">회원가입</button>
</div>
