<form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-input-group>
      <input nz-input type="text" placeholder="Title" formControlName="title" />
    </nz-input-group>
  </nz-form-item>
  <nz-form-item>
    <nz-input-group>
      <textarea
        nz-input
        placeholder="Description"
        formControlName="description"
      ></textarea>
    </nz-input-group>
  </nz-form-item>
  <nz-radio-group>
    @for (option of formGroup.controls.options.controls; track option) {
    <label nz-radio>
      <input nz-input type="text" placeholder="Option" [formControl]="option" />
    </label>
    <button
      nz-button
      (click)="removeItem($index)"
      [disabled]="formGroup.controls.options.controls.length <= 2"
    >
      -
    </button>
    }
  </nz-radio-group>
  <button nz-button nzType="default" (click)="addItem()">추가</button>
  <button
    nz-button
    nzType="primary"
    type="submit"
    [disabled]="!formGroup.valid"
  >
    제출
  </button>
</form>
