<form nz-form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control nzErrorTip="이메일을 입력하세요.">
      <nz-input-group nzPrefixIcon="mail">
        <input
          nz-input
          type="email"
          placeholder="Email"
          formControlName="email"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control
      nzErrorTip="
        비밀번호는 8~20자 사이의 영문자, 숫자, 특수문자({{'[!@#$%^&*]'}})를
        포함해야 합니다."
    >
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="비밀번호가 일치하지 않습니다.">
      <nz-input-group nzPrefixIcon="lock">
        <input
          type="password"
          nz-input
          formControlName="confirmPassword"
          placeholder="Confirm password"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-date-picker formControlName="birth" [nzDisabledDate]="disabledDate" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-radio-group formControlName="gender">
        <label nz-radio nzValue="male">Male</label>
        <label nz-radio nzValue="female">Female</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" type="submit">회원가입</button>
</form>
