@let poll = (poll$ | async);

<nz-card [nzTitle]="poll?.question">
  <div>{{poll?.description}}</div>
  <div>
    @if (poll?.hasVoted) {
    <app-poll-result [poll]="poll" />
    } @else {
    <form nz-form (ngSubmit)="submitForm()" [formGroup]="formGroup">
      <nz-radio-group formControlName="optionId">
        @for (option of poll?.options; track option) {
        <label nz-radio [nzValue]="option.id" [nzDisabled]="!!poll?.hasVoted">
          {{ option.optionText }}
        </label>
        }
      </nz-radio-group>

      <button
        nz-button
        nzType="primary"
        type="submit"
        [disabled]="!!poll?.hasVoted"
      >
        투표하기
      </button>
    </form>
    }
  </div>
</nz-card>
