@let poll = (poll$ | async);

<nz-card>
  <nz-space nzDirection="vertical" nzSize="large">
    <nz-card-meta *nzSpaceItem [nzTitle]="poll?.question ?? null" />
    <nz-space *nzSpaceItem nzDirection="vertical" nzSize="middle">
      <div>{{poll?.description}}</div>
      <div>
        @if (poll?.hasVoted) {
        <app-poll-result [poll]="poll" />
        } @else {
        <form nz-form (ngSubmit)="submitForm()" [formGroup]="formGroup">
          <nz-space nzDirection="vertical" nzSize="large">
            <nz-radio-group formControlName="optionId" *nzSpaceItem>
              <nz-space nzDirection="vertical" nzSize="small">
                @for (option of poll?.options; track option) {
                <label *nzSpaceItem>
                  <nz-card nzType="inner" nzSize="small">
                    <span
                      nz-radio
                      [nzValue]="option.id"
                      [nzDisabled]="!!poll?.hasVoted"
                    >
                      {{ option.optionText }}
                    </span>
                  </nz-card>
                </label>
                }
              </nz-space>
            </nz-radio-group>

            <button
              *nzSpaceItem
              nz-button
              nzType="primary"
              type="submit"
              [disabled]="!!poll?.hasVoted"
            >
              투표하기
            </button>
          </nz-space>
        </form>
        }
      </div>
    </nz-space>
  </nz-space>
</nz-card>
